In [1]:
from bs4 import BeautifulSoup
import urllib.request as req
import time

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

In [3]:
import pandas as pd

In [4]:
# Chrome Browser와 Chrome Driver Version 확인하기
chrom_options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()),options=chrom_options)
driver.get('https://abcmart.a-rt.com/')

In [5]:
# 브랜드 클릭
xpath = '//*[@id="gnbMenuWrap"]/ul/li[1]/a'
driver.find_element(By.XPATH,xpath).click()

In [6]:
driver.find_element(By.XPATH,'//*[@id="brandSearch"]').send_keys('nike')

In [7]:
xpath='//*[@id="brandNameN"]/ul/li[4]/a/span[1]'
driver.find_element(By.XPATH,xpath).click()

In [8]:
driver.execute_script('window.scrollTo(0, document.body.scrollHeight / 5);')

In [9]:
xpath = '//*[@id="isubCatListLi1000000441"]/div[1]'
driver.find_element(By.XPATH,xpath).click()
xpath = '//*[@id="isubCatListLi1000000441"]/div[2]/ul/li[1]/span/label'
driver.find_element(By.XPATH,xpath).click()

In [11]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [12]:
prodBrand=soup.select('.prod-brand')
prodName = soup.select('.prod-name')
prodPrice = soup.select('.price-cost')
prodImage = soup.select('.search-prod-image')

In [13]:
brand = []
name = []
price = []
for i in range(7,37):
    brand.append(prodBrand[i].string)
    name.append(prodName[i].string)
    price.append(prodPrice[i].string.strip('\n''\t').replace(',',''))

In [14]:
df = pd.DataFrame({
    'brand':brand,
    'name':name,
    'price':price
})

In [15]:
df

   brand                      name   price
0    나이키     우먼스 나이키 코트 레거시 넥스트네이처   79000
1    나이키        우먼스 나이키 코트 레거시 캔버스   69000
2    나이키       나이키 이-시리즈 1.0 보이토들러   49000
3    나이키  나이키 코트 보로우 로우 2 (그레이드스쿨)   59000
4    나이키      나이키 다이나모 고 SE 보이프리스쿨   55000
5    나이키       나이키 옴니 멀티-코트 그레이드스쿨   45000
6    나이키   나이키 코트 로얄 레거시 보이프리스쿨벨크로   34000
7    나이키       나이키 다이나모 고 부츠 보이토들러   39000
8    나이키       나이키 다이나모 고 부츠 보이토들러   39000
9    나이키      나이키 다이나모 고 부츠 보이프리스쿨   39000
10   나이키         나이키 다이나모 고 보이프리스쿨   45000
11   나이키      나이키 플렉스 러너 2 프리스쿨벨크로   44000
12   나이키     나이키 플렉스 러너 2 릴 토들러벨크로   35000
13   나이키  우먼스 나이키 주니퍼 트레일 2 넥스트네이처   99000
14   나이키       나이키 다이나모 고 SE 보이토들러   57000
15   나이키            우먼스 나이키 줌 벨라 6   99000
16   나이키          우먼스 나이키 에어 윈플로 9  109000
17   나이키              나이키 에어 윈플로 9  109000
18   나이키   우먼스 나이키 오프코트 어드저스트 슬라이드   49000
19   나이키   우먼스 나이키 오프코트 어드저스트 슬라이드   49000
20   나이키              우먼스 에어 맥스 AP  129000
21   나이키        코트 보로우 로우 2 보이그레이드   49000
22   나이키      나이키 이-시리즈 1.0 보이프리스쿨   59000
23   나이키      나이키 이-시리즈 1.0 보이그레이드   75000
24   나이키      나이키 코트 비전 로우 넥스트 네이처   79000
25   나이키       나이키 코트 레거시 보이토들러벨크로   39000
26   나이키           에어 맥스 시스템 보이토들러   65000
27   나이키          나이키 피코 5 프리스쿨벨크로   41000
28   나이키          우먼스 나이키 런 스위프트 3   89000
29   나이키   우먼스 나이키 에어 맥스 SC SE AMD   99000

In [32]:
# 이미지 다운로드
i = 0

for image in prodImage:
    url = image.attrs['src']
    saveName = f'./신발 이미지/nike/{df["name"][i]}.jpg'

    try:
        req.urlretrieve(url, saveName)
    except Exception as e:
        print(e)
    
    i += 1

In [33]:
xpath='//*[@id="pagingDiv"]/div/ol/li[2]/button'
driver.find_element(By.XPATH,xpath).click()

In [34]:
time.sleep(5)

In [35]:
driver.execute_script('window.scrollTo(0, document.body.scrollHeight / 5);')

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser') 

prodBrand=soup.select('.prod-brand')
prodName = soup.select('.prod-name')
prodPrice = soup.select('.price-cost')
prodImage = soup.select('.search-prod-image')

brand = []
name = []
price = []
for i in range(7,37):
    brand.append(prodBrand[i].string)
    name.append(prodName[i].string)
    price.append(prodPrice[i].string.strip('\n''\t').replace(',',''))

df2 = pd.DataFrame({
    'brand':brand,
    'name':name,
    'price':price
})

# 이미지 다운로드
i = 0

for image in prodImage:
    url = image.attrs['src']
    saveName = f'./신발 이미지/nike/{df2["name"][i]}.jpg'

    try:
        req.urlretrieve(url, saveName)
    except Exception as e:
        print(e)
    
    i += 1

In [40]:
df=pd.concat([df,df2])
df.reset_index(drop=True)

   brand                     name   price
0    나이키       우먼스 나이키 코트 레거시 리프트   99000
1    나이키             나이키 에어 맥스 AP  129000
2    나이키      우먼스 나이키 코트 비전 알타 레더   89000
3    나이키    우먼스 나이키 코트 레거시 넥스트네이처   79000
4    나이키       우먼스 나이키 코트 레거시 캔버스   69000
..   ...                      ...     ...
85   나이키         나이키 옴티 멀티-코트 토들러   49000
86   나이키            우먼스 나이키 와플 데뷰   89000
87   나이키  우먼스 나이키 코트 로얄 2 넥스트 네이처   59000
88   나이키   Y 나이키 엘리멘탈 백팩 - 나이키 에어   35000
89   나이키          애어 맥스 시스템 보이토들러   65000

[90 rows x 3 columns]