In [1]:
from module.abcmart import scrapying

In [2]:
scrapying('nike','N')

In [6]:
import glob

len(glob.glob('./신발 이미지/nike/*.jpg'))

155

In [60]:
import pandas as pd

In [61]:
# 사진 있는 것만 csv 만들기
df = pd.read_csv('./csv/nike.csv')

In [62]:
imageNames = glob.glob('./신발 이미지/nike/*.jpg')

In [63]:
uniqueName = []
for image in imageNames:
    uniqueName.append(image.split('/')[3].split('-')[1].replace('.jpg',''))

len(uniqueName)

155

In [64]:
index=df['name'].drop_duplicates()

In [65]:
df = df.loc[list(index.index),:]

In [66]:
len(df['name'].unique())

155

In [67]:
df = df[df['name'].isin(uniqueName)]

In [68]:
df.to_csv('./csv/nike-after.csv',index=False)

In [69]:
df

    brand                      name  price
0     나이키     우먼스 나이키 코트 레거시 넥스트네이처  79000
1     나이키        우먼스 나이키 코트 레거시 캔버스  69000
3     나이키  나이키 코트 보로우 로우 2 (그레이드스쿨)  59000
4     나이키      나이키 다이나모 고 SE 보이프리스쿨  55000
6     나이키   나이키 코트 로얄 레거시 보이프리스쿨벨크로  34000
..    ...                       ...    ...
284   나이키      우먼스 나이키 오니온타 넥스트 네이처  39000
287   나이키       에어 맥스 시스템 (그레이드 스쿨)  55000
290   나이키               우먼스 벨라 카이 텅  27000
296   나이키              나이키 온덱 플립 플랍  23000
299   나이키           우먼스 나이키 탄준 M2Z2  47000

[149 rows x 3 columns]