In [1]:
from module.abcmart import scrapying_converse

In [3]:
scrapying_converse('converse','C')

In [4]:
import glob

len(glob.glob('./신발 이미지/converse/*.jpg'))

29

In [5]:
import pandas as pd
df = pd.read_csv('./csv/converse.csv')

In [6]:
imageNames = glob.glob('./신발 이미지/converse/*.jpg')

In [7]:
uniqueName = []
for image in imageNames:
    uniqueName.append(image.split('/')[3].split('-')[1].replace('.jpg',''))

len(uniqueName)

29

In [8]:
index=df['name'].drop_duplicates()

In [9]:
df = df.loc[list(index.index),:]

In [10]:
len(df['name'].unique())

29

In [11]:
df = df[df['name'].isin(uniqueName)]

In [14]:
df.to_csv('./csv/converse-after.csv',index=False)

In [15]:
df

   brand                 name   price
0    컨버스       런 스타 레거시 CX 하이  112500
1    컨버스         척 70 1벨크로 하이   53100
2    컨버스     척테일러올스타 크러쉬 힐 옥스   75000
4    컨버스      척 테일러 올스타 70 하이   89100
5    컨버스          척테일러 올스타 코어   53100
6    컨버스       척테일러 올스타 코어 하이   58500
8    컨버스          척테일러 올스타 하이   69000
9    컨버스          척 70 플러스 하이   98100
10   컨버스       척테일러올스타 리프트 하이   89000
13   컨버스       척테일러 올스타 무브 옥스   76500
17   컨버스              척 70 옥스   85500
20   컨버스              척 70 하이  105000
36   컨버스         척 테일러 올스타 70   85500
39   컨버스        척 테일러 올스타 리프트   71100
41   컨버스      척테일러올스타 크립스터 미드   29000
50   컨버스       척테일러 올스타 무브 하이   80100
55   컨버스  척테일러 올스타 러기드 2.0 하이   71000
57   컨버스     유니섹스 척테일러 올스타 옥스   31000
59   컨버스          척테일러 올스타 옥스   48000
62   컨버스      인펀트 척테일러 올스타 하이   29000
63   컨버스     유니섹스 척테일러 올스타 하이   36000
66   컨버스      척테일러올스타 1벨크로 옥스   35100
72   컨버스         척 70 옥스 1벨크로   49500
80   컨버스      척테일러올스타 1벨크로 하이   36000
83   컨버스        척 테일러 올 스타 하이   31000
85   컨버스            척 70 뮬 슬립   68000
87   컨버스        척테일러올스타 데인티 뮬   48000