In [1]:
import numpy as np 
import matplotlib.pyplot as plt
from PIL import Image
import pandas as pd

In [2]:
img=Image.open('./Data/canvas2.jpg')

In [3]:
# 일단 흑백으로 만들기
img = 255 - np.array(img)

In [4]:
img = Image.fromarray(np.uint8(img))

In [5]:
img=img.resize(size=(128,128))

In [6]:
imgArr = np.array(img,dtype=np.int32)

In [8]:
imgArr.shape

(128, 128, 3)

In [12]:
imgArr = imgArr.reshape(-1)

In [15]:
df=pd.DataFrame(imgArr.tolist()).T

In [16]:
df

,0,1,2,3,4,5,6,7,8,9,...,49142,49143,49144,49145,49146,49147,49148,49149,49150,49151
0,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11

In [17]:
df.to_csv('./Data/canvas2_csv/canvas2-2.csv',index=False)